# Reads a csv file into a Pandas DataFrame
Currently its output is a variable called 'df', while inputs are 3 constants: BASE_PATH, INPUT_FOLDER, INPUT_CSV that together hold the path and file name of the input CSV.
Probably in the future it would make sense to put this into a function instead.

In [10]:
import pandas as pd
from os.path import join

# df = read_csv(join(BASE_PATH, INPUT_FOLDER, INPUT_CSV), sep=";", encoding="utf-8")

def my_read_csv(*path_segments: str) -> pd.DataFrame:
    return pd.read_csv(join(*path_segments), sep=";", encoding="utf-8")

df = my_read_csv(BASE_PATH, INPUT_FOLDER, INPUT_CSV)  # this could be done by caller
df

,OrderDate,Country,LineTotal,ProductName,ProductNumber,Class
0,2011.05.31 0:00,AU,"3399,99","Mountain-100 Silver, 44",BK-M82S-44,H
1,2011.05.31 0:00,CA,"3578,27","Road-150 Red, 62",BK-R93R-62,H
2,2011.05.31 0:00,FR,"3399,99","Mountain-100 Silver, 44",BK-M82S-44,H
3,2011.05.31 0:00,US,"3399,99","Mountain-100 Silver, 44",BK-M82S-44,H
4,2011.05.31 0:00,DE,"2024,994","Mountain-100 Black, 42",BK-M82B-42,H
...,...,...,...,...,...,...
5711,2011.12.31 0:00,US,"3578,27","Road-150 Red, 56",BK-R93R-56,H
5712,2011.12.31 0:00,US,"3578,27","Road-150 Red, 62",BK-R93R-62,H
5713,2011.12.31 0:00,US,"3578,27","Road-150 Red, 48",BK-R93R-48,H
5714,2011.12.31 0:00,US,"3578,27","Road-150 Red, 52",BK-R93R-52,H
5715,2011.12.31 0:00,US,"699,0982","Road-650 Black, 48",BK-R50B-48,L